{% extends 'MopaBootstrapBundle::base_less.html.twig' %}

{% block head_style%}
    {{ parent() }}

    {% stylesheets
    '../app/Resources/public/css/*.css'
    filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block title %}
    City Police Department
{% endblock %}

{% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock navbar %}

{# remove <div class="page-header"> from the base template#}
{% block page_header %}
{% endblock page_header %}

{# remove <div class="content"> from the  base template#}
{% block content_div_start %}{% endblock content_div_start %}

{% block content %}
    <div class="col-lg-12 text-center">
        <h1>A Bootstrap Starter Template</h1>
        <p class="lead">Complete with pre-defined file paths that you won't have to change!</p>
        <ul class="list-unstyled">
            <li>Bootstrap v3.3.6</li>
            <li>jQuery v1.11.1</li>
        </ul>
    </div>
{% endblock content %}

{# remove <div class="footer"> from the base template#}
{% block footer %}
{% endblock footer %}

{% block foot_script %}
    {% javascripts
    '@BmatznerJQueryBundle/Resources/public/js/jquery.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
